{% extends 'base.html' %} {% block content %}
<div class="wrapper">
    <h2>Payment Methods</h2>
    <form action="" method="post">
        <!--Payment Details Start-->
        <div class="input_group">
            <div class="input_box">
                <h3>Payment Details</h3>
                <input type="radio" name="pay" class="radio" id="bc1" checked>
                <label for="bc1"><span><i class="fa fa-cc-visa"><a href="#visa">Visa</a></i></span></label>
                <input type="radio" name="pay" class="radio" id="bc2">
                <label for="bc2"><span><i class="fa fa-cc-paypal"></i><a href="#paypal">Paypal</a></span></label>
                <input type="radio" name="pay" class="radio" id="bc3">
                <label for="bc3"><span><i class="fa fa-cc-paypal"></i><a href="#mpesa">Mpesa</a></span></label>
            </div>
        </div>
        <div id="visa">
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="VISA CARD ACC NUMBER" required>
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="CVC NUMBER" required>
                    <i class="fa fa-user icon"></i>
                </div>
            </div>

            <div class="input_group">
                <div class="input_box">
                    <div class="input_box">
                        <input type="number" placeholder="Exp Month" required class="name">
                        <i class="fa fa-calendar icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="input_box">
                    <input type="number" placeholder="Exp Year" required class="name">
                    <i class="fa fa-calendar-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input_box">
                <input type="number" placeholder="Enter Amount" required class="name">
                <i class="fa fa-money icon" aria-hidden="true"></i>
            </div>
        </div>
        <div>
            <div class="input_group" id="paypal">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="VISA CARD ACC NUMBER" required>
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="CVC NUMBER" required>
                    <i class="fa fa-user icon"></i>
                </div>
            </div>

            <div class="input_group">
                <div class="input_box">
                    <div class="input_box">
                        <input type="number" placeholder="Exp Month" required class="name">
                        <i class="fa fa-calendar icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="input_box">
                    <input type="number" placeholder="Exp Year" required class="name">
                    <i class="fa fa-calendar-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input_box">
                <input type="number" placeholder="Enter Amount" required class="name">
                <i class="fa fa-money icon" aria-hidden="true"></i>
            </div>
        </div>
        <div id="mpesa">
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="VISA CARD ACC NUMBER" required>
                    <i class="fa fa-credit-card icon"></i>
                </div>
            </div>
            <div class="input_group">
                <div class="input_box">
                    <input type="tel" name="" class="name" placeholder="CVC NUMBER" required>
                    <i class="fa fa-user icon"></i>
                </div>
            </div>

            <div class="input_group">
                <div class="input_box">
                    <div class="input_box">
                        <input type="number" placeholder="Exp Month" required class="name">
                        <i class="fa fa-calendar icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="input_box">
                    <input type="number" placeholder="Exp Year" required class="name">
                    <i class="fa fa-calendar-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input_box">
                <input type="number" placeholder="Enter Amount" required class="name">
                <i class="fa fa-money icon" aria-hidden="true"></i>
            </div>
        </div>
        <!--Payment Details End-->

        <div class="input_group">
            <div class="input_box">
                <button type="submit">CHECKOUT</button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}